.proverb{
    color: #3c3e91
    }
.index{
    color: #3c3e91
}
.p{
    color: #3c3e91
}
.two {
    color: #3c3e91
}
.one {
    color: #3c3e91
}
.three {
    color: #3c3e91
}
.img{
background-image: url("https://i1.sndcdn.com/artworks-BXugSxIERNzWqoyd-ZCnyCA-t500x500.jpg")
}